<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Sample Transactions List</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sample Transactions List
        </mat-panel-title>
        <mat-panel-description>
          List of Transactions Within
        </mat-panel-description>
      </mat-expansion-panel-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let transaction of trans" data-test="trans-list-item" (click)="selected.emit(trans)">
          <h3 matLine>Transaction ID: {{transaction.id}}</h3>
          <p matLine> Description: {{transaction.name}}</p>
          <p matLine> Value: ${{transaction.value}}</p>
          
          
          <button mat-icon-button (click)="transactionViewed.emit(transaction.id); $event.stopImmediatePropagation()">
            <mat-icon *ngIf="!readonly">chevron_left</mat-icon>
          </button>
          
  
  
          <button mat-icon-button (click)="deleted.emit(trans); $event.stopImmediatePropagation()">
            <mat-icon *ngIf="!readonly">delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-expansion-panel>
  </mat-card>
  <mat-paginator [length]="length"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="paginator()"
              aria-label="Select page">
</mat-paginator>